DISCORD_BOT_TOKEN=your.bot.token
# for prefix commands
# DISCORD_MESSAGE_CONTENT_INTENT=1
# for join/leave notifications
# DISCORD_GUILD_MEMBER_INTENT=1
POSTGRES_CONNECTION=postgres://username:password@localhost:5432/database
